#banner
  .banner_content
    %h1 File Cabinet
    %p Your Life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p I'm baby etsy tumblr cray jean shorts shaman hell of try-hard hexagon health goth post-ironic. IPhone yr wayfarers ugh, chartreuse pinterest DIY actually poutine. Gastropub sustainable subway tile roof party lyft ramps poutine biodiesel vape woke adaptogen meditation tilde cornhole jianbing. Twee asymmetrical meh distillery hexagon ethical poutine VHS art party thundercats everyday carry iceland craft beer locavore mustache. Four loko keytar lomo meh blue bottle. Quinoa typewriter paleo wayfarers deep v whatever meditation neutra scenester edison bulb hella freegan meggings.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path